.form-container{
  border-radius: 15px 50px 30px;
  background: lightblue;
  padding-top: 100px;
  width: 900px;
  height: 300px;
  text-align: center;
}

.field{
   border-color: blue;
   border-radius: 15px;
   width: 250px;
   height: 20px;
   text-align: center;

}
.reg-form
{
  font-family: "Gill Sans", sans-serif;

}
body{
  background-color: lightgreen;
  padding-top: 100px;
  padding-left:300px;

}
span{
  color: red;
}
#success{
  color:blue;
  background-color: white;
  width: 200px;
  height: 20px;

  font-size: 10;
}
#submit{
  width: 150px;
  height: 40px;
  color: white;
  background: blue;
  border-radius: 15px;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;

}
.background{
  text-align: center;
}
