.form-container{
  text-align: center;
  padding-top: 100px;
}
.field{
  display: block;
   margin-left: auto;
   margin-right: auto;
   border-color: blue;
   color: green;
}
body{
  background-color: lightgreen;
}
span{
  color: red;
}
#succes{
  color:blue;
  background-color: white;
}
